* {
  padding: 0;
  margin: 0;
  color: #002347;
}

.home-section {
  min-height: 800px;
  color: #002347;
  background: no-repeat url("images/home-banner.webp");
  background-size: 1750px 800px;
  background-position: center;
  position: relative;
}

.navbar-brand {
  padding-left: 200px;
}

.nav-item {
  background-color: #e9e6ea;
  font-size: small;
  font-weight: bold
}

.right-side {
  padding-right: 200px;
}

.search-icon {
  padding-top: 12px;
}

.home-content {
  margin-top: 150px;
}

.home-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-text h1,
h6 {
  color: #002347;
}

.home-text h6 {
  padding-bottom: 20px;
}

.home-buttons {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-1 {
  background-color: #002347;
  color: #dbc609;
  border-radius: 5%;
  border: none;
  padding: 10px;
}

.feature-text {
  text-align: center;
  padding-top: 100px;
}

.feature-text p {
  font-style: italic;
}

.feature-cards {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.card-icon {
  width: 50px;
  font-size: 40px;
}
